proyecto_n8n.json
{
  "name": "proyecto_n8n",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "b24b05a7-d802-4413-bfb1-23e1e76f6203",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        360,
        20
      ],
      "webhookId": "a889d2ae-2159-402f-b326-5f61e90f602e"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d5e60eb2-267c-4f68-aefe-439031bcaceb",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        500,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "NJDbs20rZSNtXnqV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=El usuario pregunta:\n{{$node[\"When chat message received\"].json[\"chatInput\"]}}\n\nUsa la herramienta “prueba” para consultar la memoria vectorial (Supabase Vector Store) con esa pregunta.  \nCuando obtengas los documentos más relevantes, intégralos en tu respuesta final:\n\n- Paso 1: Llama a la herramienta “prueba” con el parámetro “query” igual al texto de {{$node[\"When chat message received\"].json[\"chatInput\"]}}.\n- Paso 2: Recibe de la herramienta un array con objetos que contienen al menos el campo “text” (cada fragmento relevante).\n- Paso 3: Resume brevemente lo que dicen esos fragmentos y utilízalos como contexto para elaborar la respuesta.\n- Paso 4: Devuelve al usuario una respuesta clara, completa y fundamentada en la memoria recuperada.\n\nEjemplo de llamada interna que hará el Agent (no lo escribes literal, pero sirve de guía):\n",
        "options": {}
      },
      "id": "41174c8a-6ac8-42bd-900e-ca15196600c5",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        580,
        20
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        660,
        220
      ],
      "id": "6d07dcc6-1897-4760-95e9-3866057f77fe",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "p3Fhsec1d8QWR8A8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "prueba",
        "toolDescription": "prueba desde agente",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        880,
        300
      ],
      "id": "bbd58445-9713-43aa-b7ce-293a98baaefa",
      "name": "Supabase Vector Store",
      "notesInFlow": false,
      "credentials": {
        "supabaseApi": {
          "id": "fG1zq8dPmCyTXeJx",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "12Pe04f7dojJVsXey5QzoTT7DpbKRCrPH",
          "mode": "list",
          "cachedResultName": "25-preguntas-tipicas-entrevista.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/12Pe04f7dojJVsXey5QzoTT7DpbKRCrPH/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -280,
        460
      ],
      "id": "1748c73d-2678-49d8-9a37-6175bf72bc2b",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XJ8Gcwamc6kky5QZ",
          "name": "api drive"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        -60,
        460
      ],
      "id": "000815a9-7683-49ba-ae17-eeb18f46028a",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "fG1zq8dPmCyTXeJx",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        80,
        680
      ],
      "id": "a1a59c46-d8fe-436c-9c3c-60151b650adb",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -140,
        720
      ],
      "id": "6268a2dd-bcb9-4fc8-9496-1200bc26facd",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "NJDbs20rZSNtXnqV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        180,
        900
      ],
      "id": "88748d0f-7d8d-4096-a4e7-f9bb4fe280bc",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        500
      ],
      "id": "7a4f27e6-4af0-4828-baba-7790bbd035ac",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        940,
        500
      ],
      "id": "c8ebe700-4982-4cc1-84d8-bfc0db4d876b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "NJDbs20rZSNtXnqV",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b817843f-a9bc-43f9-995f-7f648820334d",
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "2ddfe08fb0b325b89110452de3dfe110498b67b87f9864f4be960639cf9c574b"
  },
  "id": "Q3OZIJaMzke3q5qR",
  "tags": []
}